
@mixin contentImage ($image, $height) {
	background: url($image);
	background-repeat: no-repeat;
	background position: center center;
	background-size: cover;
	height: $height;
}
 

// @mixin textPane