



@import url(https://fonts.googleapis.com/css?family=Lato:400,300,400italic,700|Sanchez:400,400italic);
	

$orange:    #c26c10;
$hilightorange: #dc7b13;
$grey:	#353535;
$black: #black;

$namefont: 'Lora', serif;
$sans-serif: 'Sanchez', sans-serif;
$serif:'Lato', serif;